@model AdminTable
@{ 
    ViewData["Title"] = "Admin Paneli";
}

    <div class="container mt-5">
        <h2>Doktor Yönetimi</h2>

        <!-- Doktor Ekle, Sil, Güncelle Butonları -->
        <div class="mt-4">
        <a href="@Url.Action("DoktorEkle", "Doktor")" class="btn btn-success btn-margin">Doktor Ekle</a>
        <a href="@Url.Action("DoktorSil", "Doktor")" class="btn btn-danger btn-margin">Doktor Sil</a>
        </div>

        <hr>

        <h2>Admin Yönetimi</h2>

        <!-- Admin Ekle, Sil, Güncelle Butonları -->
        <div class="mt-4">
        <a href="@Url.Action("AdminEkle", "Admin")" class="btn btn-success btn-margin">Admin Ekle</a>
        <a href="@Url.Action("AdminSil", "Admin")" class="btn btn-danger btn-margin">Admin Sil</a>

        </div>
    <hr>

    <h2>Klinik Yönetimi</h2>

    <!-- Klinik Ekle, Sil, Güncelle Butonları -->
    <div class="mt-4">
        <a href="@Url.Action("KlinikEkle", "Klinik")" class="btn btn-success btn-margin">Klinik Ekle</a>
        <a href="@Url.Action("KlinikSil", "Klinik")" class="btn btn-danger btn-margin">Klinik Sil</a>
    </div>
    <hr>
    <h2>Randevuları Goruntule</h2>
    <a href="@Url.Action("RandevulariGoruntule", "Randevu")" class="btn btn-primary mt-3">Randevuları Görüntüle</a>

    </div>


